{% extends "layout.html" %}

{% block mainContent %}

  <p>Hi! Thanks for your interest in Mighty Lake!</p>
  <p>This is the about us page</p>
  <p>We are a fake New Haven based event registration company.</p>
  

  <span id="vast-narwhal-name">vast narwhal</span>
  <img id="vast-narwhal-headshot" src="/Images/PiersonShield.png" alt="Smiley face" height="50" width="50" />
  
  <span id="smiling-partridge-name">smiling partridge</span>
  <img id="smiling-partridge-headshot" src="/Images/FESshield.png" alt="Smiley face" height="50" width="50" />
  
  <span id="silly-herd-name">silly herd</span>
  <img id="silly-herd-headshot" src="/Images/SOMshield.png" alt="Smiley face" height="50" width="50" />
  

{% endblock %}
