{% extends "layout.html" %}

{% block mainContent %}
  <div>
    <p>What: {{event.title}}</p>
    <p>When: {{event.date}}</p>
    <p>Where: {{event.location}}</p>
    <p>With whom: {{event.attending}}</p>
    <p>Why: {{event.image}}</p>
  </div>
  
  <div>
      <p>Do you want to partake in our revelry? Then RSVP!</p>
      <form> 
          <method="POST"></method>
          <div>
              <label for="email">E-mail:</label>
              <input type="email" id="email" />
          </div>
          
          <div class = "button">
              <button type = "submit">RSVP</button>
          </div>
        </form>
  </div>

{% endblock %}

{% block footer %}
  <footer>
    Look at me customize the footer. The time is now {{time}}.
    <a href="/about">About us</a>.
  </footer>
{% endblock %}