{% extends "layout.html" %}

{% block mainContent %}


    <p>What: <h1 id="title"><a href='/events/{{event.id}}'>{{event.title}}</a></h1></p>
    <p>When: <span id="date" datetime="{{event.date}}">{{event.date|prettyDate}}</span></p>
    <p>Where: <span id="location">{{event.location}}</span></p>
    <p>With whom: 
        {{event.attending.length}} attending so far
    </p>
      {% for person in event.attending %}
        <ul id="attendees">
            <li>
                {{person}}
            </li>
        </ul>
    {% endfor %}
    <p>Why: <img id="image" src="{{event.image}}" id="" alt=""></p>

    {% if errors %}
    <div>
      <ul class="form-errors">
        {% for error in errors %}
          <li>Invalid email: Only Yale emails may RSVP</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <p>How: RSVP now to partake in the revelry!</p>

  <div data-experiment='{{donateExperiment.name}}'
      data-alternative='{{donateExperiment.alternative}}'>
      <a class='donate' href="#{{donate}}">And don't forget to {{donate}}!</a>
  </div>


    <form action="" method="POST">
      <label>Email:</label> <input type="email" id="email" name="email">
      <input type="submit" value="Submit" placeholder="your email">
    </form>

    <script>
        $(function () {
              mixpanel.track_links("a.donate", "Event detail donation", {
                  'event-id': '{{ev.id}}',
                  'donation-text': '{{donate}}'
                  });
              });
  </script>
        
{% endblock %}
