{% extends "layout.html" %}

{% block mainContent %}

    <p>What: <a href='/events/{{event.id}}'>{{event.title}}</a></p>
    <p>When: <time datetime="{{event.date}}">{{event.date|prettyDate}}</time></p>
    <p>Where: {{event.location}}</p>
    <p>With whom: 
        {{event.attending.length}} attending so far
    </p>
      {% for person in event.attending %}
        <ul>
            <li>
                {{person}}
            </li>
        </ul>
    {% endfor %}
    <p>Why: <img src="{{event.image}}" id="" alt=""></p>

    <p>How: RSVP now to partake in the revelry!</p>
      <form> 
          <method="POST"></method>
          <div>
              <label for="email">E-mail:</label>
              <input type="email" id="email" />
              <pattern></pattern>
          </div>
          
          <div class="button">
              <button type="submit">RSVP</button>
          </div>
        </form>

{% endblock %}

{% block footer %}
  <footer>
    Look at me customize the footer. The time is now {{time}}.
    <a href="/about">About us</a>.
  </footer>
{% endblock %}