{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }} FTW</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <img id="logo" src="/Images/logo.png" alt="Smiley face" />
  <p>
    Welcome to {{ title }}. {{tagline}}
  </p>
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>

  {% include 'fragments/events-list.html' %}

  <script>
    mixpanel.track('Index page view', {
        'RSVP-alternative': '{{ rsvpExperiment.alternative }}',
        'showingRSVP': '{{ rsvpExperiment.alternative }}' === 'A'
    });
  </script>

  <script>
      $(function () {
      mixpanel.track_links('li.event a', 'Event detail link', function (el) {
          return {
            'RSVP-alternative': '{{ rsvpExperiment.alternative }}',
            'showingRSVP': '{{ rsvpExperiment.alternative }}' === 'A',
            'event-id': $(el).parent().attr('id').split('-')[1]
          };
  }); });
  </script>

  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}
