<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'>
  </head>

	<body class="container">

    {% block header %}
      <header>Hey, I'm in the header</header>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

    {% block footer %}
    <footer>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/about'>About us</a></li>
    </ul>
    </footer>
    {% endblock %}

    <script src='/vendor/jquery/dist/jquery.js'></script>
    <script src='/vendor/bootstrap/dist/js/bootstrap.js'></script>
  </body>
</html>
