body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-errors {
	color: red;
}

footer ul {
    padding: 0 0;
    list-style: none;
}

footer li {
    display: inline-block;
}

footer li + li::before {
    content: "| ";
}
